@font-face {
    font-family: "jf-openhuninn-2.0";
    src: url(../../font/jf-openhuninn-2.0.ttf);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}