//位置
.top-75 {
    top: 75%;
}
//字重
.fw-500{
    font-weight: 500;
}
//標題
.text-title {
    font-size: 48px;
    background: linear-gradient(180deg, $primary, $warning);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;
    text-align: center;

    @include md {
        font-size: 80px;
    }
}
.text-title-white {
    font-size: 48px;
    color: $white;
    font-weight: 700;
    text-align: center;

    @include md {
        font-size: 80px;
    }
}
.text-subtitle {
    font-size: 16px;
    letter-spacing: 8px;
    text-align: center;

    @include md {
        font-size: 20px;
        letter-spacing: 10px;
    }
}
.text-subtitle-white {
    font-size: 16px;
    letter-spacing: 8px;
    text-align: center;
    color: $white !important;

    @include md {
        font-size: 20px;
        letter-spacing: 10px;
    }
}

//圓角
.rounded-16 {
    border-radius: 16px;
}

.rounded-md-24 {
    @include md {
        border-radius: 24px;
    }
}

.rounded-24 {
    border-radius: 24px;
}


//圖片背景
.bg-home {
    width: 100%;
    height: auto;
    background-image: url(../images/bg-home.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-header {
    background-image: url(../images/bg-header-mobile.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include sm {
        background-image: url(../images/bg-header.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

//logo
.navbar-brand {
    a {
        height: 32px;

        @include md {
            height: 48px;
        }
    }

    img {
        height: 32px;
    }

    @include md {
        height: 48px;
    }
}

//社群
.social {
    &-item {
        img {
            width: 32px;
        }
    }
}

//懸浮按鈕
.fab {
    width: 48px;
}

.breadcrumb-item.active{
    color: $white !important;
}

.breadcrumb-item + .breadcrumb-item::before{
    color: $white !important;
}

.form-control{
    padding: 12px 16px !important;
}

.btn-primary{
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 12px 0;
    border: none;
    border-radius: 100px !important;
    background-color: $primary !important;
    color: $white !important;
    
}

.or{
    position: relative;
    &::before{
        position: absolute;
        content: "";
        width: 45%;
        height: 1px;
        background-color: $gray-light;
        left: 0;
        top: 50%;
    }
    &::after{
        position: absolute;
        content: "";
        width: 45%;
        height: 1px;
        background-color: $gray-light;
        right: 0;
        top: 50%;
    }
}

.sso-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $gray-light;
    border-radius: 100px;
    padding: 12px 0;
}