//位置
.top-75 {
    top: 75%;
}

//寬度
.w-md-50 {
    width: 100% !important;

    @include lg {
        width: 50% !important;
    }
}
.w-md-25 {
    width: 100% !important;

    @include md {
        width: 25% !important;
    }
}
//字重
.fw-500 {
    font-weight: 500;
}

//標題
.text-title {
    font-size: 48px;
    background: linear-gradient(180deg, $primary, $warning);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;
    text-align: center;

    @include md {
        font-size: 80px;
    }
}

.text-title-white {
    font-size: 48px;
    color: $white;
    font-weight: 700;
    text-align: center;

    @include md {
        font-size: 80px;
    }
}

.text-subtitle {
    font-size: 16px;
    letter-spacing: 8px;
    text-align: center;

    @include md {
        font-size: 20px;
        letter-spacing: 10px;
    }
}

.text-subtitle-white {
    font-size: 16px;
    letter-spacing: 8px;
    text-align: center;
    color: $white !important;

    @include md {
        font-size: 20px;
        letter-spacing: 10px;
    }
}

//圓角
.rounded-8 {
    border-radius: 8px;
}

.rounded-16 {
    border-radius: 16px;
}

.rounded-md-24 {
    @include md {
        border-radius: 24px;
    }
}

.rounded-24 {
    border-radius: 24px;
}


//圖片背景
.bg-home {
    width: 100%;
    height: auto;
    background-image: url(../images/bg-home.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-header {
    background-image: url(../images/bg-header-mobile.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include sm {
        background-image: url(../images/bg-header.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

//logo
.navbar-brand {
    a {
        height: 32px;

        @include md {
            height: 48px;
        }
    }

    img {
        height: 32px;
    }

    @include md {
        height: 48px;
    }
}

//社群
.social {
    &-item {
        img {
            width: 32px;
        }
    }
}

//懸浮按鈕
.fab {
    width: 48px;
}

.breadcrumb-item.active.text-white {
    a {
        color: $white !important;
    }
}

.text-white.breadcrumb-item::before {
    color: $white !important;
}

.btn-primary {
    display: block;
    padding: 10px 0;
    border: none;
    border-radius: 100px !important;
    background-color: $primary !important;
    color: $white !important;

    &-outline {
        display: block;
        padding: 10px 0;
        border: none;
        border-radius: 100px !important;
        border: 1px solid $primary;
        background-color: $white !important;
        color: $primary !important;
    }

}

.or {
    position: relative;

    &::before {
        position: absolute;
        content: "";
        width: 45%;
        height: 1px;
        background-color: $gray-light;
        left: 0;
        top: 50%;
    }

    &::after {
        position: absolute;
        content: "";
        width: 45%;
        height: 1px;
        background-color: $gray-light;
        right: 0;
        top: 50%;
    }
}

.sso-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $gray-light;
    border-radius: 100px;
    padding: 12px 0;

}

.form-select {
    display: inline !important;
    width: auto !important;
}

.form-control.form-control-textArea {
    border-radius: 8px !important;
    height: 320px;
}

.btn-collect {
    display: flex;
    align-items: center;
    background-color: $white;
    border: 1px solid $primary;
    color: $primary;

    &:hover {
        background-color: $primary;
        color: $white;
    }
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    position: relative;

    &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background-color: $primary;
        left: 0;
        bottom: -4px;
    }
}

.nav-tabs .nav-link {
    padding: 0;
}


// 圖片放大
.image-cover-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    position: fixed;
    z-index: 30;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    transition: opacity ease 0.3s;
    pointer-events: none;
}

.model-shown {
    pointer-events: all;
    opacity: 1;
}

.image-cover-modal-content {
    display: block;
    max-width: 80%;
    max-height: 80%;
}

#image-cover-caption {
    display: block;
    position: absolute;
    width: 100%;
    height: 3rem;
    bottom: 0;
    line-height: 3rem;
    text-align: center;
    color: #fff;
    background: rgba(255, 255, 255, 0.33);
}

@media only screen and (max-width: 45rem) {
    .image-cover-modal-content {
        max-width: 100%;
        max-height: 100%;
    }
}

.topest{
    z-index: 1039;
}

.collect-btn{
    background-color: transparent !important;
    top: 20px !important;
    left: 16px !important;
}