//position
.top-75 {
    top: 75%;
}

//size
.w-md-80 {
    width: 100% !important;

    @include md {
        width: 80% !important;
    }
}

.w-md-50 {
    width: 100% !important;

    @include lg {
        width: 50% !important;
    }
}

.w-md-25 {
    width: 100% !important;

    @include md {
        width: 25% !important;
    }
}

// img
.object-fit {
    object-fit: cover !important;
}

//font
//--font weight
.fw-500 {
    font-weight: 500;
}

//--text style
.text-title {
    font-size: 48px;
    background: linear-gradient(180deg, $primary, $warning);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;
    text-align: center;

    @include md {
        font-size: 80px;
    }
}

.text-title-white {
    font-size: 48px;
    color: $white;
    font-weight: 700;
    text-align: center;

    @include md {
        font-size: 80px;
    }
}

.text-subtitle {
    font-size: 16px;
    letter-spacing: 8px;
    text-align: center;
    font-weight: bold;
    color: $gray-dark !important;

    @include md {
        font-size: 20px;
        letter-spacing: 10px;
    }
}

.text-subtitle-white {
    font-size: 16px;
    letter-spacing: 8px;
    text-align: center;
    font-weight: bold;
    color: $white !important;

    @include md {
        font-size: 20px;
        letter-spacing: 10px;
    }
}

//rounded
.rounded-8 {
    border-radius: 8px;
}

.rounded-16 {
    border-radius: 16px;
}

.rounded-md-24 {
    @include md {
        border-radius: 24px;
    }
}

.rounded-24 {
    border-radius: 24px;
}


//background
.bg-home {
    width: 100%;
    height: auto;
    background-image: url(../images/bg-home.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-header {
    background-image: url(../images/bg-header-mobile.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include sm {
        background-image: url(../images/bg-header.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

//nav
.navbar-brand {
    a {
        height: 32px;

        @include md {
            height: 48px;
        }
    }

    img {
        height: 32px;
    }

    @include md {
        height: 48px;
    }
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    position: relative;

    &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background-color: $primary;
        left: 0;
        bottom: -4px;
    }
}

.nav-tabs .nav-link {
    padding: 0;
}

//footer
.social {
    &-item {
        img {
            width: 32px;
        }
    }
}

//fab
.fab {
    width: 48px;
}

//breadcrumb
.breadcrumb-item.active.text-white {
    a {
        color: $white !important;
    }
}

.text-white.breadcrumb-item::before {
    color: $white !important;
}

.breadcrumb-item {
    color: $black;
}

.breadcrumb-item .active {
    color: $primary !important;
}

//pagination
.pagination {
    align-items: center !important;

    li {
        a {
            width: 40px;
            height: 40px;
            font-size: 24px;
            text-align: center;
            border: 0 !important;
            border-radius: 40px;

            span {
                padding-bottom: 6px;
            }

            &:active,
            &:hover,
            &:focus {
                color: #FFFFFF;
                background-color: $primary;
                box-shadow: none;
            }
        }
    }
}

@media(max-width:768px) {
    .mt-md-20 {
        margin-top: 20px !important;
    }

    .form-select {
        height: 48px;
        font-size: 20px !important;
    }

    .mb-md-14 {
        margin-bottom: 14px;
    }

    .mt-sm-40 {
        margin-top: 40px;
    }

    .mb-sm-120 {
        margin-bottom: 120px;
    }
}

//button
.btn-primary {
    display: block;
    padding: 10px 0;
    border: none;
    border-radius: 100px !important;
    background-color: $primary !important;
    color: $white !important;

    &-outline {
        display: block;
        padding: 10px 0;
        border: none;
        border-radius: 100px !important;
        border: 1px solid $primary;
        background-color: $white !important;
        color: $primary !important;
    }

}

.sso-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $gray-light;
    border-radius: 100px;
    padding: 12px 0;

}

.btn-collect {
    display: flex;
    align-items: center;
    background-color: $white;
    border: 1px solid $primary;
    color: $primary;

    &:hover {
        background-color: $primary;
        color: $white;
    }

    &-collcted {
        background-color: $primary !important;
        color: $white !important;
    }
}

.collect-btn {
    position: absolute;
    background-color: transparent !important;
    top: 14px !important;
    left: 12px !important;
}

//form
.form-select {
    display: inline !important;
    width: auto !important;
}

.form-control.form-control-textArea {
    border-radius: 8px !important;
    height: 320px;
}


// decoration
.or {
    position: relative;

    &::before {
        position: absolute;
        content: "";
        width: 45%;
        height: 1px;
        background-color: $gray-light;
        left: 0;
        top: 50%;
    }

    &::after {
        position: absolute;
        content: "";
        width: 45%;
        height: 1px;
        background-color: $gray-light;
        right: 0;
        top: 50%;
    }
}

.tri {
    width: 4px !important;
    height: auto;
}

//--飲料店家標籤
.drinkStoreTag {
    margin-left: -24px;
}