<div class="py-40 border-top">
    <div class="container">
        <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-center mb-8 mb-md-0">
            <a class="navbar-brand mb-16 mb-md-0" href="#"><img src="../assets/images/logo.svg" alt="今天喝什麼？"></a>
            <ul class="d-flex m-0 p-0">
                <li class="social-item me-16"><a href="#"><img src="../assets/images/icon-fb.svg" alt="facebook"></a>
                </li>
                <li class="social-item me-16"><a href="#"><img src="../assets/images/icon-ig.svg" alt="instagram"></a>
                </li>
                <li class="social-item"><a href="#"><img src="../assets/images/icon-yt.svg" alt="youtube"></a></li>
            </ul>
        </div>
        <div class="d-flex flex-column flex-md-row-reverse justify-content-between align-items-center align-items-md-end">
            <ul class="d-flex m-0 p-0 mb-8 mb-md-0">
                <li class="me-16"><a class="text-center" href="report.html">意見回饋</a></li>
                <li class="me-16"><a class="text-center" href="#">聯絡我們</a></li>
                <li class="me-16"><a class="text-center" href="#">服務條款</a></li>
                <li><a href="#">隱私權政策</a></li>
            </ul>
            <p class="fs-14 text-gray text-center text-md-start mb-md-0">Copyright © WhatDrink All Rights Reserved. <br>作品僅為作業練習，無商業使用，若有侵權請來信告知，將立即移除 drinksjsproject@gmail.com
            </p>
        </div>
    </div>
</div>