<nav class="navbar navbar-expand-lg navbar-light bg-white px-16 px-md-24 py-16 shadow shadow-sm" id="nav">
    <div class="container-fluid">
        <a class="navbar-brand align-middle" id="hi" href="index.html"><img src="../assets/images/logo.svg" alt="今天喝什麼？"></a>

        <!-- 行動版選單 -->
        <div class="d-lg-none ms-auto">
            <!-- 漢堡按鈕 Button trigger modal -->
            <button type="button" class="border-0 bg-white" data-bs-toggle="offcanvas" data-bs-target="#menuOffcanvas">
                <span class="material-symbols-outlined fs-40 text-dark">
                    <span class="material-symbols-outlined">
                        drag_handle
                    </span>
                </span>
            </button>
            <!-- 展開選單 Modal -->
            <div class="offcanvas offcanvas-end w-100" tabindex="-1" id="menuOffcanvas"
                aria-labelledby="menuOffcanvasLabel">
                <div class="offcanvas-header border-0 mb-40">
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body mx-auto d-flex flex-column justify-content-between">
                    <ul class="list-group ms-24">
                        <!-- 搜尋欄  -->
                        <li class="list-group-item mb-24">
                            <div class="d-flex align-items-center">
                                <span class="material-symbols-outlined">
                                    search
                                </span>
                                <form class="w-75 d-flex">
                                    <input class="form-control me-2 border-0 border-bottom rounded-0" type="search"
                                        placeholder="Search" aria-label="Search">
                                </form>
                            </div>
                        </li>
                        <!-- 搜尋欄 end -->

                        <li class="list-group-item mb-24">
                            <a class="" href="member.html">會員專區</a>
                        </li>
                        <li class="list-group-item mb-24">
                            <a class="" href="news-list.html">最新消息</a>
                        </li>
                        <li class="list-group-item mb-24">
                            <a class="" href="drinks.html">熱門飲品</a>
                        </li>
                        <li class="list-group-item mb-24">
                            <a class="" href="stores-list.html">熱門店家</a>
                        </li>
                        <li class="list-group-item">
                            <a class="text-danger" href="logIn.html">登出</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <!-- 電腦版選單 -->
        <div>
            <ul class="navbar-nav mx-auto align-items-center d-none d-lg-flex flex-row">
                <li class="nav-item me-md-40">
                    <a href="news-list.html">最新消息</a>
                </li>
                <li class="nav-item me-md-40">
                    <a href="drinks.html">熱門飲品</a>
                </li>
                <li class="nav-item me-md-40">
                    <a href="stores-list.html">熱門店家</a>
                </li>
        </div>
        <div class="d-lg-flex d-none justify-content-end" style="width: 200px;">
            <a href="#" class="me-24"><span class="material-symbols-outlined">
                    search
                </span></a>
            <a href="member.html"><span class="material-symbols-outlined">
                    person
                </span></a>
        </div>
    </div>
</nav>

<div class="topest d-none d-sm-block position-fixed top-75 end-0 pe-16">
    <div class="position-relative d-flex flex-column justify-content-center">
        <img class="fab mb-4" src="../assets/images/fab.svg" alt="totop">
        <a href="#nav" class="stretched-link fs-14 text-center">TOTOP</a>
    </div>
</div>