.news-card {
    margin: 10px;
}
.news-card .card {
    width: 100%; /* 設定卡片寬度為100% */
}
.news-card img {
    max-width: 100%;
    height: auto;
}
.card-footer {
    border: none!important;
    background: none!important;
}