@include sm{
    .sm-title{
        font-size: 32px!important;
    }
}

.drinks {
    &-card {
        border: 1px solid $gray-light;
}
}
.drink-nav-height{
    height: 40px;
}
.drink-nav-padding {
    padding-left: 20px!important;
    padding-right: 68px!important;
}
.pagination{
    align-items: center!important;
    li{
        a{
            width: 40px;
            height: 40px;
            text-align: center;
            font-size: 24px;
            border: 0 !important;
            padding: 0;
            span{
                padding-bottom: 6px;
            }
            &:active,&:hover,&:focus{
                color: #FFFFFF;
                background-color: $primary;
                border-radius: 40px;
                box-shadow: none;
            }
        }
    }
    
}

@media(max-width:768px)  {
    .ml-md-40{
        margin: 40px 0px;
    }
    .form-select{
        height: 48px;
        font-size: 20px!important;
    }
    .mb-md-14{
        margin-bottom: 14px;
    }
    .mt-sm-40{
        margin-top: 40px;
    }
    .mb-sm-120{
        margin-bottom: 120px;
    }
}