<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>今天喝什麼？ | 新北飲料資訊站</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="icon" href="../assets/images/favicon-whatdrink.ico" />
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <script src="https://kit.fontawesome.com/6b74f216f9.js" crossorigin="anonymous"></script>
  <!-- swiper -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="pb-80 pb-md-120">
      <div class="bg-header pt-24 pb-80 pb-md-120 mb-48 mb-md-40">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb d-flex">
              <li class="breadcrumb-item">
                <a href="index.html" class="text-white fs-16">首頁</a>
              </li>
              <li class="breadcrumb-item active text-white" aria-current="page" class="fs-16">
                會員專區
              </li>
            </ol>
          </nav>
          <div class="text-center pt-24 userData">
            <img src="../assets/images/member.png" class="rounded-circle mb-8" style="width: 80px" alt="user image" />
            <p class="fs-32 text-white">Irene Huang</p>
            <p class="fs-20 text-white">irene880214@gmail.com</p>
          </div>
        </div>
      </div>

      <div class="container">
        <!-- 分頁頁籤 -->
        <ul class="nav nav-tabs border-bottom pb-4 mb-24" id="myTab" role="tablist">
          <li class="nav-item me-40" role="presentation">
            <button class="nav-link active fs-20" id="collectDrinks-tab" data-bs-toggle="tab"
              data-bs-target="#collectDrinks" type="button" role="tab" aria-controls="collectDrinks"
              aria-selected="true">
              收藏飲品
            </button>
          </li>
          <li class="nav-item me-40" role="presentation">
            <button class="nav-link fs-20" id="collectDStores-tab" data-bs-toggle="tab" data-bs-target="#collectDStores"
              type="button" role="tab" aria-controls="collectDStores" aria-selected="false">
              收藏店家
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link fs-20" id="setting-tab" data-bs-toggle="tab" data-bs-target="#setting" type="button"
              role="tab" aria-controls="setting" aria-selected="false">
              帳號設定
            </button>
          </li>
        </ul>
        <!-- 分頁頁籤 end -->
        <!-- 分頁內容 -->
        <div class="tab-content" id="storeTabContent">
          <!-- 收藏飲品 -->
          <div class="tab-pane fade show active" id="collectDrinks" role="tabpanel" aria-labelledby="collectDrinks-tab">
            <!-- 飲料列表 -->
            <ul class="d-flex flex-wrap justify-content-between m-0 p-0 drinkCollections">
              <!-- 飲料項目 01-->
              <li class="drinks-card px-16 py-24 px-md-24">
                <button type="button" class="collect-btn border-0 text-primary fa-regular fa-heart fs-24"
                  value="collected"></button>
                <img src="../assets/images/loading.svg" class="w-25 h-auto" alt="drink image">
                <div class="w-100 d-flex flex-column justify-content-between">
                  <div class="drinks-card-body ms-16">
                    <h4 class="mb-8 mb-md-12 bg-gray-light py-16 w-50"></h4>
                    <ul class="drinks-tag-group mb-8 mb-md-12">
                      <li class="drinks-tag bg-primary px-16 py-12"></li>
                      <li class="drinks-tag bg-primary px-16 py-12"></li>
                    </ul>
                    <p class="drinks-card-content mb-8 bg-gray-light py-16"></p>
                    <p class="drinks-card-content mb-24 mb-md-32 bg-gray-light py-16"></p>
                  </div>
                  <div class="d-flex justify-content-between align-items-end ms-16">
                    <div class="d-flex align-items-center">
                      <img src="../assets/images/tri.svg" class="tri" alt="tri">
                      <p class="bg-primary rounded-2 text-white px-24 py-12"></p>
                    </div>
                    <a href="#" class="d-block text-primary text-end"><span
                        class="material-symbols-outlined me-2 align-middle">
                        location_on
                      </span>搜尋店家</a>
                  </div>
                </div>
              </li>
                  <!-- 飲料項目 end-->
              <!-- 飲料項目 02-->
              <li class="drinks-card px-16 py-24 px-md-24">
                <button type="button" class="collect-btn border-0 text-primary fa-regular fa-heart fs-24"
                  value="collected"></button>
                <img src="../assets/images/loading.svg" class="w-25 h-auto" alt="drink image">
                <div class="w-100 d-flex flex-column justify-content-between">
                  <div class="drinks-card-body ms-16">
                    <h4 class="mb-8 mb-md-12 bg-gray-light py-16 w-50"></h4>
                    <ul class="drinks-tag-group mb-8 mb-md-12">
                      <li class="drinks-tag bg-primary px-16 py-12"></li>
                      <li class="drinks-tag bg-primary px-16 py-12"></li>
                    </ul>
                    <p class="drinks-card-content mb-8 bg-gray-light py-16"></p>
                    <p class="drinks-card-content mb-24 mb-md-32 bg-gray-light py-16"></p>
                  </div>
                  <div class="d-flex justify-content-between align-items-end ms-16">
                    <div class="d-flex align-items-center">
                      <img src="../assets/images/tri.svg" class="tri" alt="tri">
                      <p class="bg-primary rounded-2 text-white px-24 py-12"></p>
                    </div>
                    <a href="#" class="d-block text-primary text-end"><span
                        class="material-symbols-outlined me-2 align-middle">
                        location_on
                      </span>搜尋店家</a>
                  </div>
                </div>
              </li>
                  <!-- 飲料項目 end-->
              <!-- 飲料項目 03-->
              <li class="drinks-card px-16 py-24 px-md-24">
                <button type="button" class="collect-btn border-0 text-primary fa-regular fa-heart fs-24"
                  value="collected"></button>
                <img src="../assets/images/loading.svg" class="w-25 h-auto" alt="drink image">
                <div class="w-100 d-flex flex-column justify-content-between">
                  <div class="drinks-card-body ms-16">
                    <h4 class="mb-8 mb-md-12 bg-gray-light py-16 w-50"></h4>
                    <ul class="drinks-tag-group mb-8 mb-md-12">
                      <li class="drinks-tag bg-primary px-16 py-12"></li>
                      <li class="drinks-tag bg-primary px-16 py-12"></li>
                    </ul>
                    <p class="drinks-card-content mb-8 bg-gray-light py-16"></p>
                    <p class="drinks-card-content mb-24 mb-md-32 bg-gray-light py-16"></p>
                  </div>
                  <div class="d-flex justify-content-between align-items-end ms-16">
                    <div class="d-flex align-items-center">
                      <img src="../assets/images/tri.svg" class="tri" alt="tri">
                      <p class="bg-primary rounded-2 text-white px-24 py-12"></p>
                    </div>
                    <a href="#" class="d-block text-primary text-end"><span
                        class="material-symbols-outlined me-2 align-middle">
                        location_on
                      </span>搜尋店家</a>
                  </div>
                </div>
              </li>
                  <!-- 飲料項目 end-->
              <!-- 飲料項目 04-->
              <li class="drinks-card px-16 py-24 px-md-24">
                <button type="button" class="collect-btn border-0 text-primary fa-regular fa-heart fs-24"
                  value="collected"></button>
                <img src="../assets/images/loading.svg" class="w-25 h-auto" alt="drink image">
                <div class="w-100 d-flex flex-column justify-content-between">
                  <div class="drinks-card-body ms-16">
                    <h4 class="mb-8 mb-md-12 bg-gray-light py-16 w-50"></h4>
                    <ul class="drinks-tag-group mb-8 mb-md-12">
                      <li class="drinks-tag bg-primary px-16 py-12"></li>
                      <li class="drinks-tag bg-primary px-16 py-12"></li>
                    </ul>
                    <p class="drinks-card-content mb-8 bg-gray-light py-16"></p>
                    <p class="drinks-card-content mb-24 mb-md-32 bg-gray-light py-16"></p>
                  </div>
                  <div class="d-flex justify-content-between align-items-end ms-16">
                    <div class="d-flex align-items-center">
                      <img src="../assets/images/tri.svg" class="tri" alt="tri">
                      <p class="bg-primary rounded-2 text-white px-24 py-12"></p>
                    </div>
                    <a href="#" class="d-block text-primary text-end"><span
                        class="material-symbols-outlined me-2 align-middle">
                        location_on
                      </span>搜尋店家</a>
                  </div>
                </div>
              </li>
                  <!-- 飲料項目 end-->
              <!-- 飲料項目 05-->
              <li class="drinks-card px-16 py-24 px-md-24">
                <button type="button" class="collect-btn border-0 text-primary fa-regular fa-heart fs-24"
                  value="collected"></button>
                <img src="../assets/images/loading.svg" class="w-25 h-auto" alt="drink image">
                <div class="w-100 d-flex flex-column justify-content-between">
                  <div class="drinks-card-body ms-16">
                    <h4 class="mb-8 mb-md-12 bg-gray-light py-16 w-50"></h4>
                    <ul class="drinks-tag-group mb-8 mb-md-12">
                      <li class="drinks-tag bg-primary px-16 py-12"></li>
                      <li class="drinks-tag bg-primary px-16 py-12"></li>
                    </ul>
                    <p class="drinks-card-content mb-8 bg-gray-light py-16"></p>
                    <p class="drinks-card-content mb-24 mb-md-32 bg-gray-light py-16"></p>
                  </div>
                  <div class="d-flex justify-content-between align-items-end ms-16">
                    <div class="d-flex align-items-center">
                      <img src="../assets/images/tri.svg" class="tri" alt="tri">
                      <p class="bg-primary rounded-2 text-white px-24 py-12"></p>
                    </div>
                    <a href="#" class="d-block text-primary text-end"><span
                        class="material-symbols-outlined me-2 align-middle">
                        location_on
                      </span>搜尋店家</a>
                  </div>
                </div>
              </li>
                  <!-- 飲料項目 end-->
              <!-- 飲料項目 06-->
              <li class="drinks-card px-16 py-24 px-md-24">
                <button type="button" class="collect-btn border-0 text-primary fa-regular fa-heart fs-24"
                  value="collected"></button>
                <img src="../assets/images/loading.svg" class="w-25 h-auto" alt="drink image">
                <div class="w-100 d-flex flex-column justify-content-between">
                  <div class="drinks-card-body ms-16">
                    <h4 class="mb-8 mb-md-12 bg-gray-light py-16 w-50"></h4>
                    <ul class="drinks-tag-group mb-8 mb-md-12">
                      <li class="drinks-tag bg-primary px-16 py-12"></li>
                      <li class="drinks-tag bg-primary px-16 py-12"></li>
                    </ul>
                    <p class="drinks-card-content mb-8 bg-gray-light py-16"></p>
                    <p class="drinks-card-content mb-24 mb-md-32 bg-gray-light py-16"></p>
                  </div>
                  <div class="d-flex justify-content-between align-items-end ms-16">
                    <div class="d-flex align-items-center">
                      <img src="../assets/images/tri.svg" class="tri" alt="tri">
                      <p class="bg-primary rounded-2 text-white px-24 py-12"></p>
                    </div>
                    <a href="#" class="d-block text-primary text-end"><span
                        class="material-symbols-outlined me-2 align-middle">
                        location_on
                      </span>搜尋店家</a>
                  </div>
                </div>
              </li>
                  <!-- 飲料項目 end-->
            </ul>
            <!-- 飲料列表 end -->
            <nav aria-label="Page navigation" class="mt-40">
              <ul id="drinkPagination" class="pagination m-0 p-0 justify-content-center">
                <li id="first-page-btn" class="page-item mx-4 d-none d-md-block">
                  <a class="page-link text-gray" href="#" aria-label="Previous">
                    <span class="material-symbols-outlined align-middle">keyboard_double_arrow_left</span>
                  </a>
                </li>

                <li id="previousPageBtn" class="page-item mx-4 d-none d-md-block">
                  <a class="page-link text-gray" href="#" aria-label="Previous">
                    <span class="material-symbols-outlined align-middle">chevron_left</span>
                  </a>
                </li>

                <li id="button" class="page-item mx-4 active"><a class="page-link" href="#">1</a></li>
                <li id="button" class="page-item mx-4"><a class="page-link" href="#">2</a></li>
                <li id="button" class="page-item mx-4"><a class="page-link" href="#">3</a></li>

                <li id="nextPageBtn" class="page-item mx-4 d-none d-md-block">
                  <a class="page-link" href="#" aria-label="Next">
                    <span class="material-symbols-outlined align-middle">chevron_right</span>
                  </a>
                </li>

                <li id="last-page-btn" class="page-item mx-4 d-none d-md-block">
                  <a class="page-link" href="#" aria-label="Next">
                    <span class="material-symbols-outlined align-middle">keyboard_double_arrow_right</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- 收藏飲品 end -->
          <!-- 收藏店家 -->
          <div class="tab-pane fade position-relative" id="collectDStores" role="tabpanel"
            aria-labelledby="collectDStores-tab">
            <!-- 店家列表 -->
            <ul class="d-flex flex-wrap m-0 p-0 shopCollectionsArea">
              <!-- 店家項目 01-->
              <li class="stores-card">
                <button type="button" class="collect-btn border-0 text-primary fa-regular fa-heart fs-24"
                  value="collected"></button>
                <img src="../assets/images/loading-store.svg" class="mb-8" alt="store image">
                <div class="stores-card-body px-16 pt-8 pb-24 px-md-24">
                  <div class="d-flex justify-content-between">
                    <h5 class="mb-8 mb-md-12 bg-gray-light py-16 w-50"></h5>
                    <ul class="d-flex text-primary">
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-regular fa-star"></i></li>
                    </ul>
                  </div>
                  <p class="stores-card-content mb-8 bg-gray-light py-16"></p>
                  <p class="stores-card-content mb-16 bg-gray-light py-16"></p>
                  <ul class="stores-tag-group mb-16">
                    <li class="stores-tag bg-secondary px-16 py-12"></li>
                    <li class="stores-tag bg-secondary px-16 py-12"></li>
                    <li class="stores-tag bg-secondary px-16 py-12"></li>
                  </ul>
                  <a href="" class="stores-card-btn">查看店家資訊</a>
                </div>
              </li>
              <!-- 店家項目 end-->
              <!-- 店家項目 02-->
              <li class="stores-card">
                <button type="button" class="collect-btn border-0 text-primary fa-regular fa-heart fs-24"
                  value="collected"></button>
                <img src="../assets/images/loading-store.svg" class="mb-8" alt="store image">
                <div class="stores-card-body px-16 pt-8 pb-24 px-md-24">
                  <div class="d-flex justify-content-between">
                    <h5 class="mb-8 mb-md-12 bg-gray-light py-16 w-50"></h5>
                    <ul class="d-flex text-primary">
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-regular fa-star"></i></li>
                    </ul>
                  </div>
                  <p class="stores-card-content mb-8 bg-gray-light py-16"></p>
                  <p class="stores-card-content mb-16 bg-gray-light py-16"></p>
                  <ul class="stores-tag-group mb-16">
                    <li class="stores-tag bg-secondary px-16 py-12"></li>
                    <li class="stores-tag bg-secondary px-16 py-12"></li>
                    <li class="stores-tag bg-secondary px-16 py-12"></li>
                  </ul>
                  <a href="" class="stores-card-btn">查看店家資訊</a>
                </div>
              </li>
              <!-- 店家項目 03-->
              <li class="stores-card">
                <button type="button" class="collect-btn border-0 text-primary fa-regular fa-heart fs-24"
                  value="collected"></button>
                <img src="../assets/images/loading-store.svg" class="mb-8" alt="store image">
                <div class="stores-card-body px-16 pt-8 pb-24 px-md-24">
                  <div class="d-flex justify-content-between">
                    <h5 class="mb-8 mb-md-12 bg-gray-light py-16 w-50"></h5>
                    <ul class="d-flex text-primary">
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-regular fa-star"></i></li>
                    </ul>
                  </div>
                  <p class="stores-card-content mb-8 bg-gray-light py-16"></p>
                  <p class="stores-card-content mb-16 bg-gray-light py-16"></p>
                  <ul class="stores-tag-group mb-16">
                    <li class="stores-tag bg-secondary px-16 py-12"></li>
                    <li class="stores-tag bg-secondary px-16 py-12"></li>
                    <li class="stores-tag bg-secondary px-16 py-12"></li>
                  </ul>
                  <a href="" class="stores-card-btn">查看店家資訊</a>
                </div>
              </li>
              <!-- 店家項目 end-->
              <!-- 店家項目 04-->
              <li class="stores-card">
                <button type="button" class="collect-btn border-0 text-primary fa-regular fa-heart fs-24"
                  value="collected"></button>
                <img src="../assets/images/loading-store.svg" class="mb-8" alt="store image">
                <div class="stores-card-body px-16 pt-8 pb-24 px-md-24">
                  <div class="d-flex justify-content-between">
                    <h5 class="mb-8 mb-md-12 bg-gray-light py-16 w-50"></h5>
                    <ul class="d-flex text-primary">
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-solid fa-star"></i></li>
                      <li><i class="fa-regular fa-star"></i></li>
                    </ul>
                  </div>
                  <p class="stores-card-content mb-8 bg-gray-light py-16"></p>
                  <p class="stores-card-content mb-16 bg-gray-light py-16"></p>
                  <ul class="stores-tag-group mb-16">
                    <li class="stores-tag bg-secondary px-16 py-12"></li>
                    <li class="stores-tag bg-secondary px-16 py-12"></li>
                    <li class="stores-tag bg-secondary px-16 py-12"></li>
                  </ul>
                  <a href="" class="stores-card-btn">查看店家資訊</a>
                </div>
              </li>
              <!-- 店家項目 end-->
            </ul>
            <!-- 店家列表 end-->
            <nav aria-label="Page navigation" class="mt-40">
              <ul id="storePagination" class="pagination m-0 p-0 justify-content-center">
                <li id="first-page-btn" class="page-item mx-4 d-none d-md-block">
                  <a class="page-link text-gray" href="#" aria-label="Previous">
                    <span class="material-symbols-outlined align-middle">keyboard_double_arrow_left</span>
                  </a>
                </li>

                <li id="previousPageBtn" class="page-item mx-4 d-none d-md-block">
                  <a class="page-link text-gray" href="#" aria-label="Previous">
                    <span class="material-symbols-outlined align-middle">chevron_left</span>
                  </a>
                </li>

                <li id="button" class="page-item mx-4 active"><a class="page-link" href="#">1</a></li>
                <li id="button" class="page-item mx-4"><a class="page-link" href="#">2</a></li>
                <li id="button" class="page-item mx-4"><a class="page-link" href="#">3</a></li>

                <li id="nextPageBtn" class="page-item mx-4 d-none d-md-block">
                  <a class="page-link" href="#" aria-label="Next">
                    <span class="material-symbols-outlined align-middle">chevron_right</span>
                  </a>
                </li>

                <li id="last-page-btn" class="page-item mx-4 d-none d-md-block">
                  <a class="page-link" href="#" aria-label="Next">
                    <span class="material-symbols-outlined align-middle">keyboard_double_arrow_right</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- 收藏店家 end -->
          <!-- 帳號設定 -->
          <div class="tab-pane fade position-relative" id="setting" role="tabpanel" aria-labelledby="setting-tab">
            <div class="row justify-content-center">
              <div class="col-12 col-md-6">
                <form class="py-64">
                  <!-- 帳號 -->
                  <div class="d-flex align-items-center mb-24">
                    <label for="userName" class="w-25 form-label me-4">名稱</label>
                    <input type="text" value="Irene Huang" class="w-75 form-control" id="userName"
                      aria-describedby="userNameFeedback" placeholder="請輸入信箱帳號" required />
                    <div id="userNameFeedback" class="invalid-feedback">
                      名稱為必填
                    </div>
                  </div>
                  <!-- 帳號 end-->
                  <!-- 帳號 -->
                  <div class="d-flex align-items-center mb-24">
                    <label for="logInEmail" class="w-25 form-label me-4">帳號</label>
                    <input type="text" value="irene880214@gmail.com" class="w-75 form-control" id="logInEmail"
                      aria-describedby="logInEmailFeedback" placeholder="請輸入信箱帳號" required />
                    <div id="logInEmailFeedback" class="invalid-feedback">
                      信箱格式錯誤
                    </div>
                  </div>
                  <!-- 帳號 end-->
                  <!-- 密碼 -->
                  <div class="d-flex align-items-center mb-24">
                    <label for="logInEmail" class="w-25 form-label me-4">密碼</label>
                    <div class="w-75 d-flex">
                      <input type="text" value="********" class="w-75 form-control me-8" id="logInEmail"
                        aria-describedby="logInEmailFeedback" placeholder="請輸入密碼" disabled />
                      <!-- 刪除 button type="submit" -->
                      <button id="modifyPasswordButton" class="w-25 fs-14 bg-white text-primary text-nowrap border-0">
                        修改密碼
                      </button>
                    </div>
                  </div>
                  <!-- 密碼 end-->
                </form>
                <div class="border"></div>
                <button id="logout-button" type="submit"
                  class="d-block bg-white w-25 mx-auto border-0 text-danger pt-24">
                  登出
                </button>
              </div>
            </div>
          </div>
          <!-- 帳號設定 end -->
        </div>
        <!-- 分頁內容 end-->
      </div>
    </div>
    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
      <script type="module" src="../assets/js/member.js"></script>
</body>

</html>