<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>今天喝什麼？ | 新北飲料資訊站</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="icon" href="../assets/images/favicon-whatdrink.ico">
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <script src="https://kit.fontawesome.com/6b74f216f9.js" crossorigin="anonymous"></script>
  <!-- swiper -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb d-flex pt-24">
          <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
          <li class="breadcrumb-item active" aria-current="page">意見回饋</li>
        </ol>
      </nav>

      <div class="pt-24 pt-md-40 pb-80 pb-md-120">
        <div class="row justify-content-center">
          <div class="col-12 col-md-6">
            <h1 class="fs-24 text-center mb-8">意見回饋</h1>
            <p class="text-center text-gray-dark mb-24">感謝您提供寶貴的意見，讓我們能更進步！</p>
            <select class="form-select rounded-pill mb-12" aria-label=".form-select-sm">
              <option selected>一般意見回饋</option>
              <option value="錯誤訊息回報">錯誤訊息回報</option>
            </select>
            <div class="mb-16">
              <textarea class="form-control form-control-textArea" id="reportTextarea"
                placeholder="請詳細描述您的問題"></textarea>
            </div>
            <button type="submit" class="btn-primary px-80 ms-auto submitButton">送出</button>

          </div>
        </div>
      </div>

    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script type="module" src="../assets/js/report.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
</body>

</html>