<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>今天喝什麼？ | 新北飲料資訊站</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="icon" href="../assets/images/favicon-whatdrink.ico">
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <script src="https://kit.fontawesome.com/6b74f216f9.js" crossorigin="anonymous"></script>
  <!-- swiper -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="pb-80 pb-md-120">
      <!-- 熱門店家 -->
      <!-- header -->
      <div class="bg-header pt-24 pb-80 pb-md-144 mb-48 mb-md-40">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb d-flex pt-lg-24">
              <li class="breadcrumb-item"><a href="index.html" class="text-white fs-16">首頁</a></li>
              <li class="breadcrumb-item active text-white" aria-current="page" class="fs-16">熱門店家</li>
            </ol>
          </nav>
          <div>
            <h2 class="text-title text-white mt-md-20">STORES</h2>
            <h3 class="text-subtitle text-white">｜熱門店家｜</h3>
          </div>
        </div>
      </div>
      <div class="mb-40">
        <div class="container">
          <div class="d-flex flex-column-reverse flex-md-row justify-content-md-between">
            <!-- 篩選器-->
            <div class="d-flex flex-column flex-md-row">
              <select id="deliverySelect" class="form-select rounded-pill drink-nav-padding me-md-8 mb-16 mb-md-0"
                aria-label="teaClass">
                <option value="" selected>不限外送服務</option>
                <option value="uber eat">uber eat</option>
                <option value="food panda">food panda</option>
              </select>
              <select id="CooperationSelect" class="form-select rounded-pill drink-nav-padding"
                aria-label="mixingClass">
                <option value="" selected>不限活動</option>
                <option value="合作活動">合作活動</option>
              </select>
              <!--<select id="EatInSelect" class="form-select rounded-pill drink-nav-padding"
              aria-label="mixingClass">
                <option value="" selected>不限內用</option>
                <option value="可內用">可內用</option>
              </select>-->
            </div>
            <!-- 篩選器 end-->
            <!-- 搜尋bar-->
            <div class="input-group mb-3 w-md-25 bg-white border-bottom border-gray-dark mb-24 mb-md-0">
              <span class="material-symbols-outlined input-group-text bg-white border-0 p-0 fs-24 me-4"
                id="basic-addon1">
                search
              </span>
              <input type="text" id="searchStores" class="form-control border-0 p-0 rounded-0" placeholder="今天想要來點..."
                aria-label="Searchame" aria-describedby="basic-addon1">
            </div>
            <!-- 搜尋bar end-->
          </div>
        </div>
      </div>
      <div class="container">
        <!-- 店家列表 -->
        <ul id="storeList" class="d-flex flex-wrap m-0 p-0 stores">
          <!-- 店家項目 01-->
          <li class="stores-card">
            <button type="button" class="collect-btn border-0 text-primary fa-regular fa-heart fs-24"
              value="collected"></button>
            <img src="../assets/images/loading-store.svg" class="mb-8" alt="store image">
            <div class="stores-card-body px-16 pt-8 pb-24 px-md-24">
              <div class="d-flex justify-content-between">
                <h5 class="mb-8 mb-md-12 bg-gray-light py-16 w-50"></h5>
                <ul class="d-flex text-primary">
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-regular fa-star"></i></li>
                </ul>
              </div>
              <p class="stores-card-content mb-8 bg-gray-light py-16"></p>
              <p class="stores-card-content mb-16 bg-gray-light py-16"></p>
              <ul class="stores-tag-group mb-16">
                <li class="stores-tag bg-secondary px-16 py-12"></li>
                <li class="stores-tag bg-secondary px-16 py-12"></li>
                <li class="stores-tag bg-secondary px-16 py-12"></li>
              </ul>
              <a href="" class="stores-card-btn">查看店家資訊</a>
            </div>
          </li>
          <!-- 店家項目 end-->
          <!-- 店家項目 02-->
          <li class="stores-card">
            <button type="button" class="collect-btn border-0 text-primary fa-regular fa-heart fs-24"
              value="collected"></button>
            <img src="../assets/images/loading-store.svg" class="mb-8" alt="store image">
            <div class="stores-card-body px-16 pt-8 pb-24 px-md-24">
              <div class="d-flex justify-content-between">
                <h5 class="mb-8 mb-md-12 bg-gray-light py-16 w-50"></h5>
                <ul class="d-flex text-primary">
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-regular fa-star"></i></li>
                </ul>
              </div>
              <p class="stores-card-content mb-8 bg-gray-light py-16"></p>
              <p class="stores-card-content mb-16 bg-gray-light py-16"></p>
              <ul class="stores-tag-group mb-16">
                <li class="stores-tag bg-secondary px-16 py-12"></li>
                <li class="stores-tag bg-secondary px-16 py-12"></li>
                <li class="stores-tag bg-secondary px-16 py-12"></li>
              </ul>
              <a href="" class="stores-card-btn">查看店家資訊</a>
            </div>
          </li>
          <!-- 店家項目 end-->
          <!-- 店家項目 03-->
          <li class="stores-card">
            <button type="button" class="collect-btn border-0 text-primary fa-regular fa-heart fs-24"
              value="collected"></button>
            <img src="../assets/images/loading-store.svg" class="mb-8" alt="store image">
            <div class="stores-card-body px-16 pt-8 pb-24 px-md-24">
              <div class="d-flex justify-content-between">
                <h5 class="mb-8 mb-md-12 bg-gray-light py-16 w-50"></h5>
                <ul class="d-flex text-primary">
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-regular fa-star"></i></li>
                </ul>
              </div>
              <p class="stores-card-content mb-8 bg-gray-light py-16"></p>
              <p class="stores-card-content mb-16 bg-gray-light py-16"></p>
              <ul class="stores-tag-group mb-16">
                <li class="stores-tag bg-secondary px-16 py-12"></li>
                <li class="stores-tag bg-secondary px-16 py-12"></li>
                <li class="stores-tag bg-secondary px-16 py-12"></li>
              </ul>
              <a href="" class="stores-card-btn">查看店家資訊</a>
            </div>
          </li>
          <!-- 店家項目 end-->
          <!-- 店家項目 04-->
          <li class="stores-card">
            <button type="button" class="collect-btn border-0 text-primary fa-regular fa-heart fs-24"
              value="collected"></button>
            <img src="../assets/images/loading-store.svg" class="mb-8" alt="store image">
            <div class="stores-card-body px-16 pt-8 pb-24 px-md-24">
              <div class="d-flex justify-content-between">
                <h5 class="mb-8 mb-md-12 bg-gray-light py-16 w-50"></h5>
                <ul class="d-flex text-primary">
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-regular fa-star"></i></li>
                </ul>
              </div>
              <p class="stores-card-content mb-8 bg-gray-light py-16"></p>
              <p class="stores-card-content mb-16 bg-gray-light py-16"></p>
              <ul class="stores-tag-group mb-16">
                <li class="stores-tag bg-secondary px-16 py-12"></li>
                <li class="stores-tag bg-secondary px-16 py-12"></li>
                <li class="stores-tag bg-secondary px-16 py-12"></li>
              </ul>
              <a href="" class="stores-card-btn">查看店家資訊</a>
            </div>
          </li>
          <!-- 店家項目 end-->
          <!-- 店家項目 05-->
          <li class="stores-card">
            <button type="button" class="collect-btn border-0 text-primary fa-regular fa-heart fs-24"
              value="collected"></button>
            <img src="../assets/images/loading-store.svg" class="mb-8" alt="store image">
            <div class="stores-card-body px-16 pt-8 pb-24 px-md-24">
              <div class="d-flex justify-content-between">
                <h5 class="mb-8 mb-md-12 bg-gray-light py-16 w-50"></h5>
                <ul class="d-flex text-primary">
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-regular fa-star"></i></li>
                </ul>
              </div>
              <p class="stores-card-content mb-8 bg-gray-light py-16"></p>
              <p class="stores-card-content mb-16 bg-gray-light py-16"></p>
              <ul class="stores-tag-group mb-16">
                <li class="stores-tag bg-secondary px-16 py-12"></li>
                <li class="stores-tag bg-secondary px-16 py-12"></li>
                <li class="stores-tag bg-secondary px-16 py-12"></li>
              </ul>
              <a href="" class="stores-card-btn">查看店家資訊</a>
            </div>
          </li>
          <!-- 店家項目 end-->
          <!-- 店家項目 06-->
          <li class="stores-card">
            <button type="button" class="collect-btn border-0 text-primary fa-regular fa-heart fs-24"
              value="collected"></button>
            <img src="../assets/images/loading-store.svg" class="mb-8" alt="store image">
            <div class="stores-card-body px-16 pt-8 pb-24 px-md-24">
              <div class="d-flex justify-content-between">
                <h5 class="mb-8 mb-md-12 bg-gray-light py-16 w-50"></h5>
                <ul class="d-flex text-primary">
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-regular fa-star"></i></li>
                </ul>
              </div>
              <p class="stores-card-content mb-8 bg-gray-light py-16"></p>
              <p class="stores-card-content mb-16 bg-gray-light py-16"></p>
              <ul class="stores-tag-group mb-16">
                <li class="stores-tag bg-secondary px-16 py-12"></li>
                <li class="stores-tag bg-secondary px-16 py-12"></li>
                <li class="stores-tag bg-secondary px-16 py-12"></li>
              </ul>
              <a href="" class="stores-card-btn">查看店家資訊</a>
            </div>
          </li>
          <!-- 店家項目 end-->
          <!-- 店家項目 07-->
          <li class="stores-card">
            <button type="button" class="collect-btn border-0 text-primary fa-regular fa-heart fs-24"
              value="collected"></button>
            <img src="../assets/images/loading-store.svg" class="mb-8" alt="store image">
            <div class="stores-card-body px-16 pt-8 pb-24 px-md-24">
              <div class="d-flex justify-content-between">
                <h5 class="mb-8 mb-md-12 bg-gray-light py-16 w-50"></h5>
                <ul class="d-flex text-primary">
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-regular fa-star"></i></li>
                </ul>
              </div>
              <p class="stores-card-content mb-8 bg-gray-light py-16"></p>
              <p class="stores-card-content mb-16 bg-gray-light py-16"></p>
              <ul class="stores-tag-group mb-16">
                <li class="stores-tag bg-secondary px-16 py-12"></li>
                <li class="stores-tag bg-secondary px-16 py-12"></li>
                <li class="stores-tag bg-secondary px-16 py-12"></li>
              </ul>
              <a href="" class="stores-card-btn">查看店家資訊</a>
            </div>
          </li>
          <!-- 店家項目 end-->
          <!-- 店家項目 08-->
          <li class="stores-card">
            <button type="button" class="collect-btn border-0 text-primary fa-regular fa-heart fs-24"
              value="collected"></button>
            <img src="../assets/images/loading-store.svg" class="mb-8" alt="store image">
            <div class="stores-card-body px-16 pt-8 pb-24 px-md-24">
              <div class="d-flex justify-content-between">
                <h5 class="mb-8 mb-md-12 bg-gray-light py-16 w-50"></h5>
                <ul class="d-flex text-primary">
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-regular fa-star"></i></li>
                </ul>
              </div>
              <p class="stores-card-content mb-8 bg-gray-light py-16"></p>
              <p class="stores-card-content mb-16 bg-gray-light py-16"></p>
              <ul class="stores-tag-group mb-16">
                <li class="stores-tag bg-secondary px-16 py-12"></li>
                <li class="stores-tag bg-secondary px-16 py-12"></li>
                <li class="stores-tag bg-secondary px-16 py-12"></li>
              </ul>
              <a href="" class="stores-card-btn">查看店家資訊</a>
            </div>
          </li>
          <!-- 店家項目 end-->
          <!-- 店家項目 09-->
          <li class="stores-card">
            <button type="button" class="collect-btn border-0 text-primary fa-regular fa-heart fs-24"
              value="collected"></button>
            <img src="../assets/images/loading-store.svg" class="mb-8" alt="store image">
            <div class="stores-card-body px-16 pt-8 pb-24 px-md-24">
              <div class="d-flex justify-content-between">
                <h5 class="mb-8 mb-md-12 bg-gray-light py-16 w-50"></h5>
                <ul class="d-flex text-primary">
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-regular fa-star"></i></li>
                </ul>
              </div>
              <p class="stores-card-content mb-8 bg-gray-light py-16"></p>
              <p class="stores-card-content mb-16 bg-gray-light py-16"></p>
              <ul class="stores-tag-group mb-16">
                <li class="stores-tag bg-secondary px-16 py-12"></li>
                <li class="stores-tag bg-secondary px-16 py-12"></li>
                <li class="stores-tag bg-secondary px-16 py-12"></li>
              </ul>
              <a href="" class="stores-card-btn">查看店家資訊</a>
            </div>
          </li>
          <!-- 店家項目 end-->
          <!-- 店家項目 10-->
          <li class="stores-card">
            <button type="button" class="collect-btn border-0 text-primary fa-regular fa-heart fs-24"
              value="collected"></button>
            <img src="../assets/images/loading-store.svg" class="mb-8" alt="store image">
            <div class="stores-card-body px-16 pt-8 pb-24 px-md-24">
              <div class="d-flex justify-content-between">
                <h5 class="mb-8 mb-md-12 bg-gray-light py-16 w-50"></h5>
                <ul class="d-flex text-primary">
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-regular fa-star"></i></li>
                </ul>
              </div>
              <p class="stores-card-content mb-8 bg-gray-light py-16"></p>
              <p class="stores-card-content mb-16 bg-gray-light py-16"></p>
              <ul class="stores-tag-group mb-16">
                <li class="stores-tag bg-secondary px-16 py-12"></li>
                <li class="stores-tag bg-secondary px-16 py-12"></li>
                <li class="stores-tag bg-secondary px-16 py-12"></li>
              </ul>
              <a href="" class="stores-card-btn">查看店家資訊</a>
            </div>
          </li>
          <!-- 店家項目 end-->
          <!-- 店家項目 11-->
          <li class="stores-card">
            <button type="button" class="collect-btn border-0 text-primary fa-regular fa-heart fs-24"
              value="collected"></button>
            <img src="../assets/images/loading-store.svg" class="mb-8" alt="store image">
            <div class="stores-card-body px-16 pt-8 pb-24 px-md-24">
              <div class="d-flex justify-content-between">
                <h5 class="mb-8 mb-md-12 bg-gray-light py-16 w-50"></h5>
                <ul class="d-flex text-primary">
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-regular fa-star"></i></li>
                </ul>
              </div>
              <p class="stores-card-content mb-8 bg-gray-light py-16"></p>
              <p class="stores-card-content mb-16 bg-gray-light py-16"></p>
              <ul class="stores-tag-group mb-16">
                <li class="stores-tag bg-secondary px-16 py-12"></li>
                <li class="stores-tag bg-secondary px-16 py-12"></li>
                <li class="stores-tag bg-secondary px-16 py-12"></li>
              </ul>
              <a href="" class="stores-card-btn">查看店家資訊</a>
            </div>
          </li>
          <!-- 店家項目 end-->
          <!-- 店家項目 12-->
          <li class="stores-card">
            <button type="button" class="collect-btn border-0 text-primary fa-regular fa-heart fs-24"
              value="collected"></button>
            <img src="../assets/images/loading-store.svg" class="mb-8" alt="store image">
            <div class="stores-card-body px-16 pt-8 pb-24 px-md-24">
              <div class="d-flex justify-content-between">
                <h5 class="mb-8 mb-md-12 bg-gray-light py-16 w-50"></h5>
                <ul class="d-flex text-primary">
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-regular fa-star"></i></li>
                </ul>
              </div>
              <p class="stores-card-content mb-8 bg-gray-light py-16"></p>
              <p class="stores-card-content mb-16 bg-gray-light py-16"></p>
              <ul class="stores-tag-group mb-16">
                <li class="stores-tag bg-secondary px-16 py-12"></li>
                <li class="stores-tag bg-secondary px-16 py-12"></li>
                <li class="stores-tag bg-secondary px-16 py-12"></li>
              </ul>
              <a href="" class="stores-card-btn">查看店家資訊</a>
            </div>
          </li>
          <!-- 店家項目 end-->
        </ul>
        <!-- 店家列表 end -->
      </div>
      <!-- 頁碼 -->
      <nav aria-label="Page navigation" class="mt-40">
        <ul id="pagination" class="pagination m-0 p-0 justify-content-center">
          <li id="first-page-btn" class="page-item mx-4 d-none d-md-block">
            <a class="page-link text-gray" href="#" aria-label="Previous">
              <span class="material-symbols-outlined align-middle">keyboard_double_arrow_left</span>
            </a>
          </li>

          <li id="previousPageBtn" class="page-item mx-4 d-none d-md-block">
            <a class="page-link text-gray" href="#" aria-label="Previous">
              <span class="material-symbols-outlined align-middle">chevron_left</span>
            </a>
          </li>

          <li id="button" class="page-item mx-4 active"><a class="page-link" href="#">1</a></li>
          <li id="button" class="page-item mx-4"><a class="page-link" href="#">2</a></li>
          <li id="button" class="page-item mx-4"><a class="page-link" href="#">3</a></li>

          <li id="nextPageBtn" class="page-item mx-4 d-none d-md-block">
            <a class="page-link" href="#" aria-label="Next">
              <span class="material-symbols-outlined align-middle">chevron_right</span>
            </a>
          </li>

          <li id="last-page-btn" class="page-item mx-4 d-none d-md-block">
            <a class="page-link" href="#" aria-label="Next">
              <span class="material-symbols-outlined align-middle">keyboard_double_arrow_right</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- 頁碼 end-->
    <!-- <div class="container mt-md-80 mb-md-160 mt-md-40 mb-md-120 d-flex justify-content-center">
      <nav aria-label="d-flex navigation">
        <ul class="pagination  my-0">
          <li class="page-item mx-4 d-none d-md-block">
            <a class="page-link text-gray" href="#" aria-label="Previous">
              <span class="material-symbols-outlined align-middle">keyboard_double_arrow_left</span>
            </a>
          </li>
          <li class="page-item mx-4 d-none d-md-block">
            <a class="page-link text-gray" href="#" aria-label="Previous">
              <span class="material-symbols-outlined align-middle">chevron_left</span>
            </a>
          </li>
          <li class="page-item mx-4 active"><a class="page-link fs-24" href="#">1</a></li>
          <li class="page-item mx-4"><a class="page-link fs-24" href="#">2</a></li>
          <li class="page-item mx-4"><a class="page-link fs-24" href="#">3</a></li>
          <li class="page-item mx-4 d-none d-md-block">
            <a class="page-link" href="#" aria-label="Next">
              <span class="material-symbols-outlined align-middle">chevron_right</span>
            </a>
          </li>
          <li class="page-item mx-4 d-none d-md-block">
            <a class="page-link" href="#" aria-label="Next">
              <span class="material-symbols-outlined align-middle">keyboard_double_arrow_right</span>
            </a>
          </li>
        </ul>
      </nav>
    </div> -->
    <%- include('./layout/footer'); -%>
      <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
      <script type="module" src="../main.js"></script>
      <script type="module" src="../assets/js/stores-list.js"></script>
</body>

</html>